<strong>Bem vindo, {{ student }} </strong>
<p>Sua matrícula foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Data de início: </strong> {{ start_date }} <br />
  <strong>Duração: </strong> {{ duration }} meses<br />
  <strong>Data de término: </strong> {{ end_date }} <br />
  <strong>Valor total: </strong> R$ {{ total }},00 <br />
  <br/>
  <small>
    Muito obrigado pela preferência.
  </small>


</p>
